body{
    background-color: cadetblue;
}
h1{
    color: azure;
    text-align: center;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.col{
    background-color: rgb(72, 69, 69);
    width: 80%;
    height: 70vh;
    margin: auto;
    display: flex;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
    color:antiquewhite;
  }
a{
    text-decoration: none;
    color: cadetblue;
}